header
    .header-position
        h1.logo Kiran Raj

        nav.site-nav
            ul
                li: a(href="#about") About
                li: a(href="#about") Experience
                li: a(href="#about") Articles
                li: a(href="#about") Gallery
                li: a(href="#about") Contact

        a(href="mailto:kanugula@spglobal.com").email-link +email me